# Example variables for db:tunnel:start script
# Copy to .tunnel.env and adjust values for your environment.
# These will be sourced and exported automatically by the script.

# Path to SSH key pair
AWS_KEY_PAIR=/home/mouheb/Desktop/jobs/terraform-infra-boilerplate/terraform-infra/stacks/geo/development/geo-dev-backend-key.pem

# Bastion login (user@host)
BASTION=ec2-user@51.44.221.200

# RDS endpoint to forward
PG_HOST_TUNNEL=geo-dev-db.cls82uuqmmwj.eu-west-3.rds.amazonaws.com
PG_PORT=5432

# Local listen port
LOCAL_PORT=5433
